.rebar3
_build
_checkouts
_vendor
data
.eunit
*.o
*.beam
*.plt
*.swp
*.swo
.erlang.cookie
ebin
log
erl_crash.dump
.rebar
logs
.idea
*.iml
rebar3.crashdump
*~

*.json
node_modules
!.vscode/*

*.bin
!.vscode/*

c_src/*.o
c_src/*.d
priv/*
rebar.lock
.DS_STORE
TEST-data*
test-cache/*

.githooks/_/.setup
