.rebar3
_build
_checkouts
_vendor
data
.eunit
*.o
*.beam
*.plt
*.swp
*.swo
.erlang.cookie
ebin
log
erl_crash.dump
.rebar
logs
.idea
*.iml
rebar3.crashdump
*~
/venv

*.json
!.vscode/*

*.bin
.vscode/c_cpp_properties.json

native/hb_beamr/*.o
native/hb_beamr/*.d

priv/*
.DS_STORE
cache-*

*.dot
*.svg

cu/
mkdocs-site/
mkdocs-site-id.txt
mkdocs-site-manifest.csv

!test/admissible-report-wallet.json