.rebar3
_build
_checkouts
_vendor
data
.eunit
*.o
*.beam
*.plt
*.swp
*.swo
.erlang.cookie
ebin
log
erl_crash.dump
.rebar
logs
.idea
*.iml
rebar3.crashdump
*~

*.json
!.vscode/*

*.bin
.vscode/c_cpp_properties.json

native/hb_beamr/*.o
native/hb_beamr/*.d

priv/*
.DS_STORE
TEST-data*
test-cache/*
TEST-cache**/**

*.dot
*.svg
mainnet-cache/
store-inputs/
debug-cache/
