otp_path: "../otp"
deps_dirs:
  - "lib/*"
diagnostics:
  enabled:
    - crossref
    - dialyzer
apps_dirs:
  - "_build/default/lib/*"
include_dirs:
  - "_build/default/lib/*/include"
  - "src/include"
lenses:
  enabled:
    - ct-run-test
    - show-behaviour-usages
providers:
  enabled:
    - signature-help