diagnostics:
  enabled:
    - crossref
    - dialyzer
    - eunit
apps_dirs:
  - "src"
  - "src/*"
deps_dirs:
  - "_build/default/lib/b64fast"
  - "_build/default/lib/cowboy"
  - "_build/default/lib/gun"
  - "_build/default/lib/jiffy"
include_dirs:
  - "src/include"
include_dirs:
  - "src"
  - "src/include"
  - "_build/default/lib/"
  - "_build/default/lib/*/include"
lenses:
  enabled:
    - ct-run-test
    - show-behaviour-usages
providers:
  enabled:
    - signature-help