{erl_opts, [debug_info]}.
{plugins, [pc]}.

{pre_hooks, [
    {compile, "make -C \"${REBAR_ROOT_DIR}\" wamr"}

]}.

{port_env, [
    {"(linux|darwin|solaris)", "CFLAGS", "$CFLAGS -I${REBAR_ROOT_DIR}/_build/wamr/core/iwasm/include -I/usr/local/lib/erlang/usr/include/"},
    {"(linux|darwin|solaris)", "LDFLAGS", "$LDFLAGS -L${REBAR_ROOT_DIR}/_build/wamr/lib -lvmlib -lei"},
    {"(linux|darwin|solaris)", "LDLIBS", "-lei"}
]}.

{post_hooks, [
	{"(linux|darwin|solaris)", clean, "rm -rf \"${REBAR_ROOT_DIR}/_build\" \"${REBAR_ROOT_DIR}/priv\""},
    {"(linux|darwin|solaris)", compile, "echo 'Post-compile hooks executed'"}
]}.

{provider_hooks, [
    {post, [
        {compile, {pc, compile}},
        {clean, {pc, clean}}
    ]}
]}.

{port_specs, [
    {"./priv/cu_beamr.so", ["./c_src/cu_beamr.c"]}
]}.

{deps, [
    {b64fast, {git, "https://github.com/ArweaveTeam/b64fast.git", {ref, "58f0502e49bf73b29d95c6d02460d1fb8d2a5273"}}},
    {jiffy, {git, "https://github.com/ArweaveTeam/jiffy.git", {ref, "74c956defa9116c85d76f77c3e9b5bd6de7bd39a"}}},
    {gun, "1.3.3"},
    {cowboy, {git, "https://github.com/ninenines/cowboy", {tag, "2.12.0"}}},
    {gproc, "v0.9.1"}
]}.

{shell, [
    {apps, [ao]}
]}.

{eunit, [
    {apps, [ao]}
]}.

{eunit_opts, [verbose]}.

{relx, [
    {release, {'ao', "0.0.1"}, [ao, jiffy, cowboy, gun, gproc, b64fast]},
    {include_erts, true},
    {extended_start_script, true}
  ]}.