{erl_opts, [debug_info, {d, 'COWBOY_QUICER', 1}, {d, 'GUN_QUICER', 1}]}.
{plugins, [pc, rebar3_rustler]}.


{cargo_opts, [
    {src_dir, "native/dev_snp_nif"}
]}.

{overrides, [
    {add, cowboy, [{erl_opts, [{d, 'COWBOY_QUICER', 1}]}]},
    {add, gun, [{erl_opts, [{d, 'GUN_QUICER', 1}]}]}
]}.

{pre_hooks, [
	{compile, "make -C \"${REBAR_ROOT_DIR}\" wamr"}
]}.

{port_env, [
	{"(linux|darwin|solaris)", "CFLAGS",
		"$CFLAGS -I${REBAR_ROOT_DIR}/_build/wamr/core/iwasm/include -I/usr/local/lib/erlang/usr/include/"},
	{"(linux|darwin|solaris)", "LDFLAGS", "$LDFLAGS -L${REBAR_ROOT_DIR}/_build/wamr/lib -lvmlib -lei"},
	{"(linux|darwin|solaris)", "LDLIBS", "-lei"}
]}.

{post_hooks, [
	{"(linux|darwin|solaris)", clean, "rm -rf \"${REBAR_ROOT_DIR}/_build\" \"${REBAR_ROOT_DIR}/priv\""},
	{"(linux|darwin|solaris)", compile, "echo 'Post-compile hooks executed'"},
    { compile, "rm -f native/hb_beamr/*.o native/hb_beamr/*.d"},
    { compile, "cp index.html priv/index.html"}
]}.

{provider_hooks, [
    {pre, [
        {compile, {cargo, build}}
    ]},
    {post, [
        {compile, {pc, compile}},
        {clean, {pc, clean}},
        {clean, {cargo, clean}}
    ]}
]}.

{port_specs, [
	{"./priv/hb_beamr.so", [
        "./native/hb_beamr/hb_beamr.c",
        "./native/hb_beamr/hb_wasm.c",
        "./native/hb_beamr/hb_driver.c",
        "./native/hb_beamr/hb_helpers.c",
        "./native/hb_beamr/hb_logging.c"
    ]}
]}.

{deps, [
	{b64fast, {git, "https://github.com/ArweaveTeam/b64fast.git", {ref, "58f0502e49bf73b29d95c6d02460d1fb8d2a5273"}}},
	{jiffy, {git, "https://github.com/ArweaveTeam/jiffy.git", {ref, "74c956defa9116c85d76f77c3e9b5bd6de7bd39a"}}},
	{cowboy, {git, "https://github.com/ninenines/cowboy", {ref, "022013b6c4e967957c7e0e7e7cdefa107fc48741"}}},
	{gun, {git, "https://github.com/ninenines/gun", {ref, "8efcedd3a089e6ab5317e4310fed424a4ee130f8"}}},
	{quicer, {git, "https://github.com/qzhuyan/quic.git", {ref, "97d8be9fb8017f4578248f96f5b35f8e357df792"}}},
	{prometheus, "4.11.0"},
	{prometheus_cowboy, "0.1.8"},
    {rocksdb, "1.8.0"},
    {gun, "0.10.0"}
]}.

{shell, [
	{apps, [hb]}
]}.

{eunit, [
	{apps, [hb]}
]}.

{eunit_opts, [verbose]}.

{relx, [
	{release, {'hb', "0.0.1"}, [hb, b64fast, jiffy, cowboy, gun, quicer, prometheus, prometheus_cowboy, rocksdb]},
	{include_erts, true},
	{extended_start_script, true},
	{overlay, [
		{mkdir, "bin/priv"},
		{copy, "priv", "bin/priv"},
		{copy, "config.flat", "config.flat"}
	]}
]}.