h1 {
	font-size: clamp(1.2rem, 1.5vw, 1.3rem) !important;
}

h2 {
	font-size: clamp(0.9rem, 1.5vw, 1rem) !important;
}

p {
	font-size: clamp(0.55rem, 1.5vw, 0.65rem);
}

li {
	font-size: clamp(0.55rem, 1.5vw, 0.65rem);
}

input {
	font-size: clamp(0.45rem, 1.5vw, 0.5rem) !important;
}

body[data-md-path="index"] .md-header {
	background-color: transparent !important;
}

.md-header {
	box-shadow: none !important;
}

.md-logo img {
	height: 0.9rem !important;
}

.md-header__topic {
	display: none;

}

.md-nav__title {
	font-size: clamp(0.45rem, 1.5vw, 0.5rem) !important;
}

.md-nav__item {
	font-size: clamp(0.45rem, 1.5vw, 0.5rem) !important;
}

.md-tabs__link {
	font-size: clamp(0.4rem, 1.5vw, 0.5rem);
}

.md-search__form {
	height: 32px !important;
	/* adjust this */
	padding: 0 8px !important;
}

.md-search {
	margin-left: 1.8rem;
}

.md-search__inner {
	width: 8rem;
}

.md-search__input {
	padding-left: 1rem !important;
	padding-right: 1rem !important;
}

.md-search-result__item h1 {
	font-size: clamp(0.7rem, 1.5vw, 0.8rem) !important;
}

.md-search-result__item h2 {
	font-size: clamp(0.7rem, 1.5vw, 0.8rem) !important;
	font-weight: 500 !important;
}

.md-search-result__item summary div {
	font-size: clamp(0.5rem, 1.5vw, 0.55rem) !important;
}

.md-search-result__icon {
	width: 0.8rem;
	height: 0.8rem;
}

.md-search__icon svg {
	width: 16px;
	height: 16px;
}

.md-search__icon {
	top: 0.4rem !important;
	left: 0.3rem !important;
}

.md-source {
	font-size: clamp(0.45rem, 1.5vw, 0.5rem);
}

.md-source__fact {
	font-size: clamp(0.35rem, 1.5vw, 0.4rem);
}

.tagline {
	font-size: 0.9rem;
	letter-spacing: 1px;
	margin: 0;
	color: var(--md-default-fg-color--light);
}

[data-md-color-scheme="slate"] .logo-text h1 {
	color: #FFF;
}

[data-md-color-scheme="slate"] .tagline {
	color: #AAA;
}

.md-footer-meta {
	display: none !important;
}

.md-footer__link {
	margin: 0;
}

.md-footer {
	border-top: .05rem solid #00000012;
	background-color: white;
	color: black;
}

.md-footer__direction {
	font-size: clamp(0.35rem, 1.5vw, 0.45rem);
}

.md-footer__title {
	font-size: clamp(0.75rem, 1.5vw, 0.85rem);
}